*.v linguist-language=V text=auto eol=lf
*.vsh linguist-language=V text=auto eol=lf
server/tests/test_files/pos_compute_offset/crlf.vv linguist-language=V text=auto eol=crlf
server/tests/test_files/pos_compute_offset/lf.vv linguist-language=V text=auto eol=lf
tree_sitter/** linguist-vendored
tree_sitter_v/** linguist-vendored