name: CI

on:
  push:
    branches:
    - use-tree-sitter
  pull_request:
    branches:
    - use-tree-sitter
  schedule:
    - cron:  '31 1 * * *'

jobs:
  ubuntu-gcc:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      VFLAGS: -cc gcc
    steps:
    - name: Checkout V
      uses: actions/checkout@v2
      with:
        repository: vlang/v
    - uses: actions/checkout@v2
      with:
        path: vls
    - name: Build local v
      run: make -j4
    - name: Run tests
      run: ./v test vls

  macos-clang:
    runs-on: macOS-latest
    timeout-minutes: 30
    env:
      VFLAGS: -cc clang
    steps:
    - name: Checkout V
      uses: actions/checkout@v2
      with:
        repository: vlang/v
    - uses: actions/checkout@v2
      with:
        path: vls
    - name: Build local v
      run: make -j4
    - name: Run tests
      run: ./v test vls

  windows-msvc:
    runs-on: windows-2019
    timeout-minutes: 30
    env:
        VFLAGS: -cc msvc
    steps:
    - name: Checkout V
      uses: actions/checkout@v2
      with:
        repository: vlang/v
    - uses: actions/checkout@v2
      with:
        path: vls
    - name: Build local v
      run: .\make.bat -msvc
    - name: Run tests
      run: .\v.exe test vls\lsp\ vls\analyzer\ vls\vls\testing\ vls\vls\general_test.v vls\vls\connection_test.v
