# Derived from: .github/workflows/binary_artifact.yml
name: Build and release pre-built binaries (Dev build)

on:
  push:
    branches:
      - master

jobs:
  build-linux-x64:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Install Boehm GC
        run: sudo apt-get install libgc-dev
      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Checkout VLS
        uses: actions/checkout@v2
        with:
          path: vls
      - name: Build local V
        run: make && sudo ./v symlink
      - name: Compile VLS
        run: |
          cd vls
          export VLS_BUILD_COMMIT=$(git rev-parse --short HEAD)
          v -g -cc gcc -gc boehm -o vls_linux_x64 cmd/vls
          ./vls_linux_x64 version
      - name: Create binary only artifact
        uses: actions/upload-artifact@v2
        with:
          name: linux_x64
          path: ./vls/vls_linux_x64

  build-macos-x64:
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - name: Install Boehm GC
        run: brew install bdw-gc
      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Checkout VLS
        uses: actions/checkout@v2
        with:
          path: vls
      - name: Build local V
        run: make && sudo ./v symlink
      - name: Compile VLS
        run: |
          cd vls
          export VLS_BUILD_COMMIT=$(git rev-parse --short HEAD)
          v -g -cc clang -gc boehm -o vls_macos_x64 cmd/vls
          ./vls_macos_x64 version
      - name: Create binary only artifact
        uses: actions/upload-artifact@v2
        with:
          name: macos_x64
          path: ./vls/vls_macos_x64

  build-windows-x64:
    runs-on: windows-2019
    timeout-minutes: 30
    steps:
      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Checkout VLS
        uses: actions/checkout@v2
        with:
          path: vls
      - name: Build local V
        run: .\make.bat -gcc
      - name: Compile VLS for Windows
        shell: bash
        run: |
          cd vls
          export VLS_BUILD_COMMIT=$(git rev-parse --short HEAD)
          echo $VLS_BUILD_COMMIT
          ../v.exe -g -cc gcc -gc boehm -cflags -static -o vls_windows_x64.exe cmd/vls
          ./vls_windows_x64.exe version
      - name: Create binary only artifact
        uses: actions/upload-artifact@v2
        with:
          name: windows_x64
          path: ./vls/vls_windows_x64.exe

  pre-release:
    name: Create Github Release
    needs: [build-linux-x64, build-windows-x64, build-macos-x64]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - name: Fetch linux_x64
        uses: actions/download-artifact@v1
        with:
          name: linux_x64
          path: ./linux_x64
      - name: Fetch macos_x64
        uses: actions/download-artifact@v1
        with:
          name: macos_x64
          path: ./macos_x64
      - name: Fetch windows_x64
        uses: actions/download-artifact@v1
        with:
          name: windows_x64
          path: ./windows_x64
      - name: Generate file checksums
        run: |
          sha256sum \
           ./windows_x64/vls_windows_x64.exe \
           ./linux_x64/vls_linux_x64 \
           ./macos_x64/vls_macos_x64 \
           > checksums.txt
      - uses: "marvinpinto/action-automatic-releases@latest"
        name: Create Release and Upload Assets
        id: create_release
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Latest Development Build"
          files: |
            windows_x64/vls_windows_x64.exe
            linux_x64/vls_linux_x64
            macos_x64/vls_macos_x64
            checksums.txt
